{% extends "base/estruturaBase.html" %}
{% load static %}


{% block conteudo %}
<br><br>

<div class="input-group mb-4">
  <input type="text" id="barra-pesquisa" class="form-control" placeholder="Digite sua Pesquisa...">
  <button class="btn btn-secondary" id="btn-limpar">Limpar</button>
  <button class="btn btn-primary" id="btn-pesquisa">Pesquisa</button>
  <button class="btn btn-primary" id="btn-links">Fomento</button>
</div>

<div id="conteudo-dinamico" class="text-center p-4">
  <img src="https://iili.io/Ka6cme2.md.png" alt="Imagem inicial" class="img-fluid" style="max-width: 300px;">
</div>
{% endblock %}

{% block scripts %}
<script>
    const URL_BUSCAR_TITULOS = "{% url 'buscar_titulos_ajax' %}";
    const URL_DEFINICAO = "{% url 'definicao' %}";
</script>

<script src="{% static 'js/pesquisa.js' %}"></script>
{% endblock %}
